{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block pagetitle %}
    Simulation
{% endblock pagetitle %}
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
{% block main %}

{% endblock main %}
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------- -->
{% block footer %}
{% endblock footer %}
