/* .home.div {
  font-size: 22pt;
} */

#login {
  /* width: 60%; */
  text-align: left;
}

#login div {
  text-align: left;
}

p {
  color: #ff6e6e;
}

#redirect {
  align-items: center;
  display: inline-flex;
  /* width: 50vw; */
}

#redirect button {
  margin: 0vw 1vw;
}

.tmp {
  margin: 1em;
}

#account {
  margin-top: 5vw;
  align-items: center;
  display: inline-grid;
}

#connectAlgoAcnt {
  display: inline-flex;
}

#sep {
  position: relative;
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
  
#sep span {
  display: inline-block;
  padding: 0 10px;
  background: #fff;
}
#sep:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    background: #ccc;
}

