.App {
  /* align-items: center; */
  padding-left: 2vw;
  padding-right: 2vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body {
  height: calc(100%-(110px));
  overflow-y: auto;
}

.content {
  margin-top: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  text-align: center;
}

h5 {
  text-align: center;
}
