.App {
  text-align: center;
  margin-left: 4vw;
  margin-right: 4vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body {
  height: 100%;
}

.content {
  margin-top: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
}